/* colors

hot pink: #D4215C

deep purple: #69314B
mid purple: #98678E

bright yellow: #FFE072
pale yellow: #FFECA3

light green: #D5D963

orange: #FFECA3
 */

/* fonts ---------------------------------------------------------------*/
.jua-regular {
  font-family: "Jua", serif;
  font-weight: 400;
  font-style: normal;
}


h1 {
  font-size: 3rem;
  font-family: 'Margarine';
  color:#D4215C;
}

h2 {
    color: #69314B;  
    font-size: 2.5rem;
    font-family: 'Margarine';
}

/* header ---------------------------------------------------------------*/
.header {
  overflow: hidden;
  padding-top: 20px;
  background: url("../home-img/bg.png"); 


}

.logo-fullname {
    display: inline;
    justify-content: center;
    width: 15rem;
}
 
@media (max-width: 600px) {
 .logo-fullname {
  width: 40vw;
 }
}

 @media (max-width: 500px) {
h1 {
  font-size: 10vw;
  font-family: 'Margarine';
  color:#D4215C;
}


 }

/* navbar ---------------------------------------------------------------*/

.navbar-custom {
    background-color:#FFECA3;   
    font-size: 20px;
    border: ascii;
    border-style: dotted none none none;
    border-color: #98678E;
    border-width: 5px;

}

.navbar-nav {
    list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center
  
}
.nav-item {
      display: block;
    padding: 0 1rem;

}
.nav-item a {
      text-align: center;
      color: #98678E
}
.nav-item a:hover {    
    transform: scale(1.05);
    font-family: 'Margarine';
    color: DeepPink;

}

/* 
.dropdown-menu {
  background-color: Plum;
  color: #98678E;
  text-align: center;}

.dropdown-menu .dropdown-item {
  color: #98678E;}

.dropdown-menu a:hover {
  color: DeepPink;
  background-color: Plum}

.navbar-nav .dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;} */

@media (max-width: 600px) {
 .navbar-nav {
  flex-direction: column;
 }
}


/* home page ----------------------------------------------------------*/
.homebtns {
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 1rem 0 0 0;
}

.homebtn {
 text-decoration: none;
 padding: 3px;

}

.homebtn img {
     clip-path: circle(50%);
     width: 20vw;

}

@media (min-width: 1000px) {
 .homebtn img {
  width: 200px;
 }
}

.homebtn:hover img {
    transform: scale(1.05);
    filter: saturate(120%) brightness(120%);
}


.home-img {
    display: flex;
    position: relative;
    flex-direction: column;
  justify-content: center;
  align-items:center;
  max-width: 99vw;
}

/* .home-img div {
      flex: 1 0 auto;

} */
/* body ---------------------------------------------------------------*/

 body {
  background-color: rgb(255, 255, 211); 
  text-align: center; 
  font-family: "Jua", serif;
  color: #98678E;
  /* cursor: url('../cursor2.png'),auto;   */

}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

}

.flex-container > div {
  position: relative;
  overflow: hidden;
  width: 90vw;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  align-items: center;
  justify-content: space-evenly;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    max-width: 100%;
  }
}



.backgrounds-container {
    display:inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
}

.bg-item img{
  width: 100%;
  height: auto;
}

.vidcontainer {
  display:block;
  justify-content: center;

}

video {
  width: 70vw;
  height: auto;
}


.personal-container {
    display:flex;
    flex-basis:0;
}

.personal-columns {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal-item {
      width: 30vw;
}

.personal-item img{
  width: 100%;
  height: auto;
  padding: 0.3rem;

}


@media screen and (max-width: 600px) {
  .personal-container {
    display: inline-block;
  }
  .personal-item {
      width: 70vw;
}

}

/* about me -------------------------------------------------------------*/

.aboutme {
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 5rem 0 0 0;
  gap: 2rem;
}

  .aboutme p {
    max-width: 50vw;
  }

  .tinytext {
    font-size: 0.7rem;
    margin-top: -1rem;
  }
  
@media screen and (min-width: 1000px) {
  .aboutme p {
    max-width: 30vw;
  }
}

@media screen and (max-width: 600px) {
  .aboutme {
    flex-direction: column;  
  }
    .aboutme p {
    max-width: 80vw;
  }


}


.btn {
  background-color: #98678E;
  color:  #FFE072;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    border-radius: 15px;
}

.download-link {
    position:fixed;
    bottom: 1rem;
    left: 1rem;
    font-size: 1rem;
}

.download-link:hover{
    background: #e45585;
    color: #f6f6f6;
    transform: scale(1.05);
    /* font-family: 'Margarine'; */
}

/* footer ---------------------------------------------------------------*/

.footer {
   width: 100%;
   color: RebeccaPurple;
   margin-top: 1rem;
}

.socials {
    list-style: none;
    padding: 0;
}
.socials li {
    display: inline-block;
}

.fa:hover {
  transform: scale(1.1);
}
.fa-envelope {
  background: #98678E;
  color:  #FFECA3;
  text-decoration: none;
  padding: 3px;
  font-size: 1rem;
}

.fa-instagram {
  background: #D4215C;
  color: white;
  padding: 3px;
  text-decoration: none;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  text-decoration: none;
  width: 20px;
  padding: 3px;

}



